{% extends "base.html" %}

{% block content %}
<div class="data-container">
    {% if data %}  
    {% if data.image %}
    <div class="data-image">
        <img src={% if data.image %} {{data.image.url}} {% else %} {% endif %}>
    </div>
    {% endif  %}
    <div class="data-information">
        <h1>{{data.name}}</h1>
        {% if data.description %} 
        <p>{{data.description}}</p>
        {% endif  %}
    </div>
    {% endif  %}
</div>

<div class="content-container">
    {% if games %}  
    {% for game in games %}
    <div class="games-container">
        <a href="/games/{{game.id}}" class="game-poster">
            <img src={% if game.poster %} {{game.poster.url}} {% else %} {% endif %} class="game-poster">
        </a>
        <div class="game-information">
            <a href="/games/{{game.id}}">{{game.title}}</a>
            <div class="game-platform">
                {% for platform in game.platform.all %}
                    <a href="/games/{{platform.name}}">
                        <img src="{{ platform.image.url }}">
                    </a>
                {% endfor %}
            </div>
            <hr/>
            <p>
                <a>{{game.price}}$</a>
            </p>
            <button>Add to Cart</button>
        </div>
    </div>
    {% endfor %}
    {% endif  %}
</div>
{% endblock %}