{% extends "vehicleListBase.html" %}

{% block title %}
My Vehicle List
{% endblock %}


{% block content %}
{% if vehicleList %}

<div class="mainStyle, listStyle">
    <form method="post">
        {% csrf_token %}
        <select name="Type">
            <option value="All">All types</option>
            {% for type in distinctTypes %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <select name="Brand">
            <option value="All">All brands</option>
            {% for brand in distinctBrands %}
                <option value="{{ brand }}">{{ brand }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter vehicles</button>
    </form>


    <H2>My vehicles:</H2>
    <div>
        <ol>
            {% for vehicle in vehicleList %}
                <div>
                    <li><a style="text-decoration: none;" href="/vehicles/{{vehicle.id}}">{{vehicle.brand}} {{vehicle.model}} | ({{vehicle.type}})</a></li>
                </div>
            {% endfor %}
        </ol>
    </div>
    {% else %}
    <div>
        No vehicles!!!
    </div>
</div>

{% endif %}
{% endblock %}