{% extends "vehicleListBase.html" %}

{% block content %}
<div class="vehicleStyle">
        <h1>Current vehicle</h1>
        <h2>{{ vehicle.brand }} {{vehicle.model}}</h2>
        <div>
            <div>
                <img src="{{vehicle.image}}" style="width: 200px; height: auto;">
            </div>
            <div>
                Vehicle price: {{ vehicle.price }}
            </div>
            <div>
                Vehicle distance traveled: {{ vehicle.distanceTraveled }}
            </div>
            <div>
                Vehicle max speed: {{ vehicle.maxSpeed }}
            </div>
        </div>
</div>
{% endblock %}